<h1>Add Dealerships</h1>

<p>
  Add your dealership:
</p>

<form action="/dealerships" method="post">
  <label for="name">Dealership's name:</label>
  <input type="text" id="name" name="name">
  <button type="submit">Add Dealership</button>
</form>
