<h1>Enter New Car Information</h1>

<form action="/vehicles" method="post">
  <div class"form-group">
    <label for="make">Make</label>
    <input class="form-control" placeholder="Make" id="make" name="make" type="text">
    <label for="model">Model</label>
    <input class="form-control" placeholder="Model" id="model" name="model" type="text">
    <label for="year">Year</label>
    <input class="form-control" placeholder="Year" id="year" name="year" type="text">
  </div>
  <button type="submit" class="btn btn-success">Enter</button>
</form>
